/* Cabeçalho da página */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.H {
    display: flex;
    align-items: center;
    padding: 1%;
    width: 97%;
    height: auto;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}

.logo {
    font-size: 25px;
}

.descricao {
    font-size: 15px;
    margin-top: -12px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Botão retorno */

.back-btn {
    display: inline-block;
    padding: 20px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 45px; 
    left: 25px; 
    text-decoration: none;
}

.back-btn::before {
    content: "\2190"; 
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

/* itens sacola */

.container {
    width: 50%; 
    border-radius: 6px;
    text-align: left; 
    background-color: #011522;
    color: white;
    padding: 45px;
    margin-left: 10%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
    justify-content: flex-start; 
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

p, ul {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px; 
}

li {
    margin-bottom: 8px;
}

.card-container {
    display: flex;
    flex-direction: column; 
    gap: 40px; 
    margin-left: 5%;
    margin-top: 20px;
}

.card {
    display: flex; 
    background-color: rgba(17, 24, 39, 1);
    width: 80%; 
    max-width: 900px; 
    height: 230px; 
    border-radius: 12px;
    color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 40%; 
    height: 100%; 
    object-fit: cover; 
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 20px;
    width: 60%; 
}

.card h1 {
    font-size: 1.8em; 
    font-weight: bold; 
    margin-bottom: 10px;
    margin-left: 20%;
    margin-top: 10%;
    align-items: center;
    color: #f9fafb;
}

.card .price {
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    margin-top: 25%;
    margin-left: 10%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
}



/* forma de pagamento */

.wrapper {
    display: flex; 
    padding: 1%;
    gap: 20px; 
}

.plan-chooser {
    background-color: #011522;
    max-width: 320px;
    width: 40%;
    border-radius: 10px;
    padding: 40px;
    color: white;
    box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
}

.header {
    text-align: center;
    margin-top: 0.75rem;
}

.plan-chooser .title {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: white;
}

.plan-option {
    margin-top: 1rem;
    margin-bottom: 15px;
    padding: 5%;
}
  
  .plan-option label {
    cursor: pointer;
    overflow: hidden;
    border: 2px solid rgba(229, 231, 235, 1);
    border-radius: 0.375rem;
    background-color: rgba(249, 250, 251, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .4rem;
    margin: 10px 0;
    transform: all .15s ease;
  }
  
  .plan-option label .plan-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .plan-cost {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
  }
  
  .plan-name {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(75, 85, 99, 1);
  }
  
  .reduction {
    display: inline-block;
    border-radius: 9999px;
    border: 1px solid rgba(22, 163, 74, 1);
    background-color: rgba(220, 252, 231, 1);
    padding: 0.2rem .4rem;
    font-size: 0.675rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: rgba(22, 163, 74, 1);
  }
  
  .plan-option input:checked + label {
    border-color: rgba(37, 99, 235, 1);
  }
  
  .choose-btn {
    width: 70%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: rgba(37, 99, 235, 1);
    padding: 1rem 3rem;
    font-weight: 600;
    color: #fff;
    transform: all .15s ease;
  }
  
  .choose-btn:hover {
    opacity: .9;
  }
  
  .plan-option input {
    display: none;
  }